.Products{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.Gallery_Products{
    width: 250%;
    top: 0;
    left: 0;
    height: fit-content;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,250px));
    grid-auto-rows: 20vw ;
    grid-auto-flow: dense;
    padding: 10vh;
}

.Sections{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.Title_Sections{
    font-size: 4rem;
    color: white;
}

.Card_Image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    border: solid 1px #012966;
    cursor: pointer;
}

.Card_Image img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 0.4s ease-in;
}

.Card_Image:hover img{
    z-index: 0;
    transform: scale(1.08);
}

.BigBox{
    grid-row: span 2;
    grid-column: span 2;
}

.FatBox{
    grid-column: span 2;
}